# Directories
.idea/
**/target/
**/test/
**/setup/
**/Settings/
**/Outputs/
**/Public/
/Plugins/now-playing-cam/

# Files
*.iml
*.class
*Test.java
*.log
/src/main/resources/static/assets/index-4783303a.js
/src/main/resources/static/assets/index-ef1a3273.css
/Assets/cover_base64.txt
.codebuddy/